/* Main layout for homepage */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: black !important;
}


/* Container for the two sections */
.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Left section containing profile image, social links, and email */
.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #000000;
}

.email-section {
    margin-top: 20px;
    text-align: center;
}

.right-section {
    flex: 2;
    text-align: left;
}

.bio {
    font-size: 1rem;        
    font-weight: 400;        
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;                
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: white !important;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s, transform 0.3s;
    border: #000000;
    border-width: 1rem;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #333 !important;
    color: white !important;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
        padding-top: 120vh;
    }

    .left-section {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .bio {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .content-container {
        padding: 10px;
    }

    .profile-photo {
        width: 200px;
        height: 200px;
    }

    .bio {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}
